.mainParent {
  display: flex;
  flex-direction: column;

  //   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

//   #box {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 400px;
//   height: 200px;
//   color: white;
//   font-family: 'Raleway';
//   font-size: 2.5rem;
// }
// .mainBlock {
//   --borderWidth: 3px;
// //   background: #1D1F20;
//   position: relative;
//   border-radius: var(--borderWidth);
// }
// .mainBlock:after {
//   content: '';
//   position: absolute;
//   top: calc(-1 * var(--borderWidth));
//   left: calc(-1 * var(--borderWidth));
//   height: calc(100% + var(--borderWidth) * 2);
//   width: calc(100% + var(--borderWidth) * 2);
//   background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
//   border-radius: calc(2 * var(--borderWidth));
//   z-index: -1;
//   animation: animatedgradient 3s ease alternate infinite;
//   background-size: 300% 300%;
// }


// @keyframes animatedgradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }

  .mainBlock {
    background-color: #ffee2f;
    border: 2px solid crimson;
    border-radius: 10px;
    margin-bottom: 10px;

    .prodList {
      max-height: 700px;
      overflow: scroll;
      overflow-x: hidden;
      display: flex;
      justify-content: space-between;
    }

    .product {
      display: flex;
      width: 700px;
      justify-content: space-between;
      margin: 20px;
      align-items: center;

      .image {
        flex: 1;
        text-align: center;
      }
      .prodName {
        flex: 1;
        text-align: center;
      }
      .prodPrice {
        flex: 1;
        text-align: center;
      }
      .delBtn{
        border-radius: 10px;
        // border: 1px solid black;
        border: none;
        width: 30px;
        background-color: crimson;
        color: white;
        font-size: 20px;
        // text-align: center;
        // align-items: center;
      }

      img {
        width: 150px;
      }
    }
  }
}
