.logos {
  margin-right: 30px;
  width: 12%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7e7e7e;
  flex-direction: column;

  .icons {
    color: #7e7e7e;
  }
}
