.logos {
    margin-right: 30px;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7e7e7e;

    .icons {
      color: #7e7e7e;
    }
  }