.aboutAndOurTeam{
display: flex;
flex-direction: column;

  .mainParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .leftSide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
  
      .textBlock {
        display: grid;
        width: 500px;
        height: 400px;
        padding: 40px;
        
      }
    }
  
    .rightSide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%;
      
      height: 85vh;
      background-color: #ffee2f;
      // padding: 150px 35px 110px 170px;
      .iconBlock {
        flex-wrap: wrap;
        width: 30%;
        height: 60%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-left: auto;
     
  
        .block {
          margin-bottom: 20px;
          
        }
  
        .iconShadow {
          width: 130px;
          height: 130px;
          
          background-color: #e8d935;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 20px -20px 0px 0px #f2e33a;
          
        }
  
        img {
          width: 50px;
          height: 50px;
        }
      }
      .cubes {
        
        width: 200px;
    left: 91%;

 
   position: fixed;
        .text {
          display: flex;
          align-items: center;
          width: 80%;
          .aHrefs{
          display: flex;
          align-items: center;
          justify-content: space-around;
          text-decoration: none;
          color: #686868 ;
            .cube {
              background-color: #ce0002;
              height: 17px;
              width: 17px;
              display: block;
              margin-left: 10px;
              cursor: pointer;
              transition: 0.1s;
    
              &:hover {
                background-color: #670002;
              }
            }
          }
        }
      }
    }
  }
  
  .SocialNetwork {
    width: 50px;
  }
}


