tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    td {
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 20px 0;
    }
    .incProdBtn {
        background-color: bisque;
        color: #fff;
        border: 0;
        background-color: rgb(23, 193, 23);
        // padding: 5px 10px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
    }
    .decProdBtn {
        background-color: bisque;
        color: black;
        border: 0;
        background-color: rgb(193, 34, 23);
        width: 30px;
        height: 30px;
        border-radius: 2px;
        color: #fff; 
    }

    .amount{
        font-size: 20px;
        padding: 0 8px;
    }

    .delProdBtn{
        border: 0;
        font-size: 25px;
        // padding: 10px;
        padding: 0px 10px;
        background-color: crimson;
        color:bisque;
        border-radius: 5px;
        font-weight: 600;
    }
    
    border-bottom: 1px solid;
}

.cartImg {
    width: 50px;
}

td {
    width: 20%;
}